@model Vidly.ViewModels.IndexMoviesViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Movies</h1>
</div>

@if (Model.Movies.Count == 0)
{
    <h2>We have not got any movies yet.</h2>
}
else
{
    <table class="table-striped table-hover col-sm-12">
        <thead>
            <tr class="info">
                <th>
                    <h2>Movies</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>
                        <h2><a href="@Url.Action("Details","Movies", new { id = movie.Id})">@movie.Name</a></h2>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

